:root {
    --primary-color: rgba(255, 255, 255, 1);
    --secondary-color: rgba(255, 255, 255, 0.7);
    --thirdy-color: rgba(255, 205, 56, 1);
    --fourthy-color: rgba(255,255,255, 0.15);
    --bg-transparent: rgba(255,255,255, 0.1);
    --additional-color: rgb(255, 92, 0);
    --divider-color: rgba(255,255,255, 0.2);
    --black-color: #000;
    --hover-color-button-1: #F7CF58;
    --hover-color-button-2: #3375F6;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

header {
    margin: 0 auto;
    color: var(--primary-color);
}

.header__flexbox {
    background: url(https://d2kq0urxkarztv.cloudfront.net/60bae25c996d510089043f7e/2888580/upload-82852069-b61f-48c5-ad53-0fcb1b236ffc.png?e=webp&nll=true) center / cover no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}

.header__container p {
    padding-right: 25px;
}

.header__container p:hover {
    color: var(--additional-color);
    cursor: pointer;
}

.header__logo {
    font-size: 42px;
    font-weight: 500;
}

.header__circle {
    background-color: var(--bg-transparent);
    padding: 7px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header__line {
    width: 4px;
    border-radius: 20px;
}

.transparent {
    background-color: var(--secondary-color);
    height: 20px;
}

.semi-bold {
    background-color: var(--primary-color);
    height: 20px;
}

.main {
    background-color: var(--additional-color);
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

body {
    background: url(https://d2kq0urxkarztv.cloudfront.net/60bae25c996d510089043f7e/2888580/upload-7d866a3f-26dd-49ce-a263-9d96dbd7998c.png?e=webp&nll=true) center / cover;
    background-attachment: fixed;
    overflow-x: hidden;
    
}

.container {
    margin: 0 auto;
    width: 90%;
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
}

section {
    margin: 100px auto;
}

.body__main-section {
    margin-top: 250px;
    position: relative;
}

.body__section-flex
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body__main-text {
    z-index: 1000;
}

.body__faces {
    position: absolute;
    margin: 0;
}

.body__faces img {
    width: 50%;
    height: 50%;
}

.top-face {
    top: -25vh;
    left: 37vw;
}

.left-face {
    top: 0vh;
    left: 0vw;
    z-index: -10;
}

.bottom-left-face {
    top: 50vh;
    left: 8vw;
    z-index: -100;
}

.bottom-right-face {
    top: 41vh;
    right: -7vw;
}

.right-face {
    top: 6vh;
    right: -13vw;
}

.body__headline {
    font-size: 145px;
    text-align: center;
    letter-spacing: -9px;
    line-height: 120px;
    z-index: 1;
}


.body__paragraph-box {
    margin: 60px auto;
    text-align: center;
}

.body__paragraph {
    font-size: 30px;
    letter-spacing: -2px;
}

.body__section-divider {
    background-color: var(--divider-color);
    height: 3px;
    width: 100%;
    border-radius: 30px;
    margin: 230px auto 70px;
}

.body__text-lines {
    display: flex;
    flex-direction: column;
}

.body__margin {
    margin-bottom: 100px;
}

.body__text-flexbox {
    display: flex;
    flex-direction: row;
}

.body__h3 {
    font-size: 53px;
    letter-spacing: -3px;
    margin-bottom: 45px;
    line-height: 60px;
}

.body__divider {
    background-color: var(--divider-color);
    width: 1px;
    min-height: 100%;
    border-radius: 30px;
    margin: 0 50px 0 100px;
}

.body__subtitle {
    font-size: 28px;
    margin-bottom: 30px;
}

.body__h3 span {
    color: var(--additional-color);
}

.body__screen-parallax {
    position: relative;
}

.body__screenshots {
    display: flex;
    justify-content: center;
}

.body__screenshots img {
    width: 80%;
    height: 90%;
}

.body__applepay-logo {
    margin-left: 90px;
}

.body__calc-box {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.body__calculation-box {
    background-color: var(--bg-transparent);
    border-radius: 80px;
    width: 100%;
    height: 45%;
}

.body__sub-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.body__sub-select h3 {
    margin-bottom: 0;
    padding-right: 20px;
}

select {
    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;
    background: transparent;
    color: transparent;
    position: absolute;
    appearance: none;
    margin: 0;
    width: 100%;
}

.body__arrow {
    width: 15%;
}

.body__arrow img {
    width: 100%;
    opacity: 0.15;
}

.body__calculation-box {
    display: flex;
    flex-direction: row;
    padding: 80px 100px;
}

.body__calculation-section {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.body__sub-num,
.body__mon-num,
.body__result-num {
    display: flex;
    flex-direction: column;
}

.body__sub-num,
.body__mon-num {
    width: 250px;
}

.body__text-description {
    display: flex;
    flex-direction: row;
}

.body__text-n-picture {
    position: relative;
}

.body__pic-block {
    display: flex;
    flex-direction: column;
}

.body__pic-block img {
    width: 70%;
    height: 70%;
}

.body__text-icon {
    width: 6%;
}

.body__text-icon img {
    width: 100%;
    height: 100%;
}

.body__divider-2 {
    background-color: var(--divider-color);
    width: 1px;
    min-height: 100%;
    border-radius: 30px;
    margin: 0 30px;
}

.body__text {
    width: 37vw;
}

.body__text p {
    font-size: 22px;
    color: var(--secondary-color);
    letter-spacing: -1.7px;
}

.body__text-additional {
    color: var(--thirdy-color);
}

.body__pic {
    position: absolute;
}

.body__pic img {
    width: 100%;
    height: 100%;
}

.first {
    top: -20%;
    right: 17%;
    width: 17%;
}

.second {
    top: 7%;
    right: 2%;
    width: 16%;
}

.third {
    top: 50%;
    right: 5%;
    width: 16%;
}

.fourth {
    top: 78%;
    right: 20%;
    width: 13%;
}

.body__launch {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.body__text-sub {
    width: 35vw;
}

.body__text-sub p {
    font-size: 22px;
    color: var(--secondary-color);
    letter-spacing: -1.7px;
}

.body__button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.body__button {
    font-size: 22px;
    padding: 16px 32px;
    border-radius: 15px;
    letter-spacing: -1.5;
    display: flex;
    align-items: center;
}

.creator {
    background-color: var(--primary-color);
    color: var(--black-color);
    margin-right: 10px;
}

.creator:hover {
    background-color: var(--hover-color-button-1);
}

.manager {
    background-color: var(--bg-transparent);
    color: var(--secondary-color);
}

.manager:hover {
    background-color: var(--hover-color-button-2);
    color: var(--primary-color);
}

.footer {
    margin-bottom: 100px;
}

.footer__flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body__text-sub span:hover {
    color: var(--additional-color);
    cursor: pointer;
}

@media screen and (max-width: 1300px) {

    .body__sub-num, .body__mon-num {
        width: 227px;
    }

    .body__calculation-box {
        padding: 80px 70px;
    }
    
    .body__calculation-box {
        width: 100%;
    }

    .body__h3 {
        font-size: 46px;
    }

    .body__sub-select h3 {
        font-size: 40px;
    }

    .body__subtitle {
        font-size: 22px;
    }
}

@media screen and (max-width: 1310px) {
    .left-face {
        top: 0vh;
        left: -5vw;
        z-index: -10;
    }

    .right-face {
        top: 6vh;
        right: -16vw;
    }
}

@media screen and (max-width: 1210px) {
    .left-face {
        top: 0vh;
        left: -5vw;
        z-index: -10;
    }

    .right-face {
        top: 6vh;
        right: -18vw;
    }
}

@media screen and (max-width: 1200px) {
    

    .body__calculation-box {
        height: 250px;
    }
}

@media screen and (max-width: 1024px) {
    .right-face {
        top: 6vh;
        right: -20vw;
    }

    .body__faces img {
        width: 50%;
        height: 50%;
    }
    
    .top-face {
        top: -20vh;
        left: 37vw;
    }
    
    .bottom-left-face {
        top: 50vh;
        left: 8vw;
        z-index: -100;
    }
    
    .bottom-right-face {
        top: 41vh;
        right: -10vw;
    }

    .body__headline {
        font-size: 120px;
        line-height: 100px;
    }

    .body__faces img {
        width: 40%;
        height: 40%;
    }
    
    .body__paragraph {
        font-size: 24px;
        letter-spacing: -1.5;
    }

    .body__calculation-section {
        width: 100%;
    }

    .body__h3 {
        font-size: 40px;
    }

    .body__sub-select h3 {
        font-size: 34px;
        letter-spacing: -0.6;
    }

    .body__subtitle {
        font-size: 18px;
    }

    .body__calculation-box {
        padding: 50px 50px;
        height: 200px;
    }

    .body__sub-num, .body__mon-num {
        width: 150px;
    }

    .body__applepay-logo {
        margin-left: 40px;
    }

    .fa-5x {
        font-size: 4em;
    }

    .margin-0 {
        margin: 0 40px 0 60px;
    }

    .body__section-flex,
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .body__pic-block img {
        width: 60%;
        height: 60%;
    }

    .first {
        top: -15%;
        right: -10%;
        width: 34%;
    }

    .second {
        top: 25%;
        right: -7%;
        width: 30%;
    }

    .third {
        top: 60%;
        right: -5%;
        width: 30%;
    }

    .fourth {
        top: 90%;
        right: 10%;
        width: 23%;
    }
}

@media screen and (max-width: 830px) {
    
    
    .right-face {
        top: 6vh;
        right: -25vw;
    }

    .body__faces img {
        width: 42%;
        height: 42%;
    }
    
    .top-face {
        top: -17vh;
        left: 37vw;
    }

    .left-face {
        top: 0vh;
        left: -5vw;
    }
    
    .bottom-left-face {
        top: 45vh;
        left: 8vw;
        z-index: -100;
    }
    
    .bottom-right-face {
        top: 35vh;
        right: -15vw;
    }

    .body__screenshots img {
        width: 100%;
        height: 100%;
    }

    .body__headline {
        font-size: 110px;
        line-height: 90px;
    }
    
    .body__paragraph {
        font-size: 24px;
        letter-spacing: -1.5;
    }

    .body__h3 {
        font-size: 35px;
        letter-spacing: -1.9;
        line-height: 45px;
    }

    .body__sub-select h3 {
        font-size: 34px;
        letter-spacing: -0.6;
    }

    .body__subtitle {
        font-size: 16px;
    }

    .body__text p,
    .body__text-sub p,
    .body__button-box a {
        font-size: 20px;
    }
}